@font-face {
  font-family: 'tk-icon-font';
  src:
    url('fonts/tk-icon-font.ttf?38djgk') format('truetype'),
    url('fonts/tk-icon-font.woff?38djgk') format('woff'),
    url('fonts/tk-icon-font.svg?38djgk#tk-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tk-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile-1:before {
  content: "\e966";
}
.icon-check-1:before {
  content: "\e961";
}
.icon-whatsapp-1:before {
  content: "\e95e";
}
.icon-lottery-1:before {
  content: "\e900";
}
.icon-help-1:before {
  content: "\e94e";
}
.icon-user-fill-1:before {
  content: "\e950";
}
.icon-home-1:before {
  content: "\e955";
}
.icon-copy-1:before {
  content: "\e943";
}
.icon-menu-1:before {
  content: "\e917";
}
.icon-warning-1:before {
  content: "\e945";
}
.icon-settings-1:before {
  content: "\e944";
}
.icon-cancel-circle-fill-1:before {
  content: "\e942";
}
.icon-android-1:before {
  content: "\e93f";
}
.icon-apple-1:before {
  content: "\e940";
}
.icon-hub-1:before {
  content: "\e941";
}
.icon-add-circle-fill-1:before {
  content: "\e936";
}
.icon-download-1:before {
  content: "\e939";
}
.icon-filter-kebab-1:before {
  content: "\e93a";
}
.icon-funds-1:before {
  content: "\e93b";
}
.icon-money-1:before {
  content: "\e93c";
}
.icon-online-bank-1:before {
  content: "\e93d";
}
.icon-dashboard-1:before {
  content: "\e934";
}
.icon-home-fill-1:before {
  content: "\e935";
}
.icon-more-1:before {
  content: "\e931";
}
.icon-deposit-1:before {
  content: "\e932";
}
.icon-withdraw-1:before {
  content: "\e933";
}
.icon-help-square-1:before {
  content: "\e930";
}
.icon-leaderboard-1:before {
  content: "\e92e";
}
.icon-secure-1:before {
  content: "\e928";
}
.icon-unsecure-1:before {
  content: "\e929";
}
.icon-error-shield-1:before {
  content: "\e92a";
}
.icon-date-1:before {
  content: "\e91f";
}
.icon-date-2:before {
  content: "\e920";
}
.icon-error-fill-1:before {
  content: "\e923";
}
.icon-info-1:before {
  content: "\e924";
}
.icon-trash-1:before {
  content: "\e925";
}
.icon-pin-1:before {
  content: "\e926";
}
.icon-cloud-fill-1:before {
  content: "\e927";
}
.icon-user-1:before {
  content: "\e921";
}
.icon-close-1:before {
  content: "\e94a";
}
.icon-play-1:before {
  content: "\e975";
}
.icon-clear-filter-1:before {
  content: "\e976";
}
.icon-filter-1:before {
  content: "\e977";
}
.icon-user-fill-2:before {
  content: "\e901";
}
.icon-arrow-down-2:before {
  content: "\e903";
}
.icon-arrow-down-1:before {
  content: "\e90c";
}
.icon-arrow-down-fill-1:before {
  content: "\e904";
}
.icon-arrow-up-fill-1:before {
  content: "\e905";
}
.icon-arrow-left-2:before {
  content: "\e906";
}
.icon-arrow-left-1:before {
  content: "\e907";
}
.icon-arrow-right-2:before {
  content: "\e908";
}
.icon-arrow-right-1:before {
  content: "\e909";
}
.icon-arrow-up-2:before {
  content: "\e90a";
}
.icon-arrow-up-1:before {
  content: "\e90b";
}
.icon-eye-off-1:before {
  content: "\e912";
}
.icon-eye-1:before {
  content: "\e913";
}
.icon-home-fill-2:before {
  content: "\e915";
}
.icon-tv-1:before {
  content: "\e916";
}
.icon-search-1:before {
  content: "\e91a";
}
.icon-card-1:before {
  content: "\e91d";
}
